@use "../globals/mixin" as *;
@use "../globals/colors" as *;

.testimonials {
  padding-top: 240px;
  &__title {
    font-size: 2rem;
  }
  &__list {
    @include adjust;
  }
  &__texts {
    position: relative;
    width: 45%;
    .circle {
      position:absolute;
      top: 45%;
      left: -20%;
    }
    &_stars {
      font-size: 1rem;
      margin-bottom: 30px;
      span {
        color: #FFBB0C;
      }
    }
    &_dsc {
      font-size: 1rem;
      width: 70%;
      line-height: 30px;  
      margin-bottom: 40px;
    }
    &_headline {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: -5px;
    }
    &_subtitle {
      font-size: .8rem;
      color:rgba(0, 0, 0, 0.824);
    }
  }
  &__author {
    width: 45%;
    position: relative;
    .circle {
      position: absolute;
      z-index:unset;
      z-index: 1;
      top: -15px;
      right: -20px;
    }
    &_img {
      z-index: 99;
      max-width: 384px;
      max-height: 491px;
      position: relative;
      img {
        border-radius: 10px;
        position: relative;
        z-index: 9;
      }
      .add {
        position: absolute;
        bottom: -14px;
        left: -14px;
      }
    }
    &_buttons {
      position:absolute;
      bottom: 0;
      right: 0%;
      z-index: 99;
      padding: 20px 1px 1px 30px;
      background-color: #fff;
      border-top-left-radius: 10px;
      display: flex;
      column-gap: 22px;
      @media (max-width:700px) {
        padding: 12px 1px 1px 15px;
      }
      @media (max-width:500px) {
        padding: 8px 1px 1px 10px;
      }
      @media (max-width:400px) {
        border-top-left-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1px solid #fff;
        column-gap: 0;
        justify-content:space-between;
        padding: 8px 1px 1px 0px;
        width: 100%;
      }
      button {
        border-radius:50%;
        padding: 17px 18px;
        background-color: transparent;
        border: 2px solid #D7D7D7;
        cursor: pointer;
        color: #D7D7D7;
        @media (max-width:700px) {
          padding: 8px 9px;
        }
        @media (max-width:500px) {
          padding: 4px 5px;
        }
        &:nth-child(2) {
          border: 2px solid #000;
          color: #000;
          background-color: transparent;
        }
      }
    }
  }
  @media (max-width:865px) {
    padding-top: 130px;
    &__title {
      text-align: center;
    }
    &__texts {
      width: 80%;
      text-align: center;
      &_dsc {
        width: 100%;
      }
    }
    &__list {
      flex-direction: column;
      row-gap: 40px;
      justify-content:center;
    }
  }
}